.col{
  min-height:200px;
  border: solid 1px white;
}

.col h1, .col h2{
  text-align: center;
}

.row{
  border: solid 1px white;
}
body{
  background-image: url(https://i.pinimg.com/originals/c6/df/a2/c6dfa22150790c670c988c5196f6ba0e.gif);
  background-size: cover;
  background-repeat: repeat;
  color: white;
}
